<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="menu">
<input name="menuId" th:value="${#httpServletRequest.getSession().getAttribute('menuId')}" type="hidden"/>
<ul class="app-menu">
    <li><a id="home_item" class="app-menu__item" th:href="@{/home}"><i class="app-menu__icon fa fa-dashboard"></i><span
            class="app-menu__label">控制台</span></a></li>
    <li class="treeview" shiro:hasAnyPermissions data-shiro-hasanypermissions="mall_product:view">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-shopping-bag"></i><span
                class="app-menu__label">表单管理</span>
            <i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li shiro:hasPermission="work_user:view">
                <a id="brand_item" class="treeview-item" th:href="@{/brand?menuId=brand}"><i
                        class="icon fa fa-bars"></i>&nbsp;&nbsp;品牌管理</a>
            </li>
            <li shiro:hasPermission="work_user:view">
                <a id="model_item" class="treeview-item" th:href="@{/model?menuId=model}"><i
                        class="icon fa fa-bars"></i>&nbsp;&nbsp;机型管理</a>
            </li>
            <li shiro:hasPermission="work_user:view">
                <a id="store_item" class="treeview-item" th:href="@{/store?menuId=store}"><i
                        class="icon fa fa-bars"></i>&nbsp;&nbsp;门店管理</a>
            </li>
            <li shiro:hasPermission="work_user:view">
                <a id="clerk_item" class="treeview-item" th:href="@{/clerk?menuId=clerk}"><i
                        class="icon fa fa-bars"></i>&nbsp;&nbsp;店员管理</a>
            </li>
        </ul>
    </li>
    <li class="treeview" shiro:hasAnyPermissions data-shiro-hasanypermissions="system_user:view,system_role:view">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span
                class="app-menu__label">系统管理</span>
            <i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li shiro:hasPermission="system_user:view">
                <a id="user_item" class="treeview-item" th:href="@{/user/list?menuId=user}"><i
                        class="icon fa fa-user-o"></i>&nbsp;&nbsp;用户管理</a>
            </li>
            <li shiro:hasPermission="system_role:view">
                <a id="role_item" class="treeview-item" th:href="@{/role/list?menuId=role}"><i
                        class="fa fa-user-circle-o"></i>&nbsp;&nbsp;&nbsp;角色管理</a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>