<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
</head>
<body class="app sidebar-mini rtl">
<main class="app-content" layout:fragment="content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user-circle-o"></i> 门店
                <span th:text="新增" th:if="${entity.id == null}"/>
                <span th:text="编辑" th:if="${entity.id != null}"/>
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">门店列表</a></li>
            <li class="breadcrumb-item"><a href="#">
                <span th:text="新增" th:if="${entity.id == null}"/>
                <span th:text="编辑" th:if="${entity.id != null}"/>
            </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form th:action="@{/store/save}" method="post" id="inputForm">
                    <input name="id" type="hidden" th:value="${entity.id}"/>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_name" class="col-sm-2 control-label">名称</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_name" name="name"
                                               th:value="${entity.name}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_province" class="col-sm-2 control-label">省</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_province" name="province"
                                               th:value="${entity.province}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <label for="store_city" class="col-sm-2 control-label">城</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="store_city" name="city"
                                           th:value="${entity.city}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_district" class="col-sm-2 control-label">区</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_district" name="district"
                                               th:value="${entity.district}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_detail" class="col-sm-2 control-label">具体地址</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_detail" name="detail"
                                               th:value="${entity.detail}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_longitude" class="col-sm-2 control-label">经度</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_longitude" name="longitude"
                                               th:value="${entity.longitude}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_latitude" class="col-sm-2 control-label">纬度</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_latitude" name="latitude"
                                               th:value="${entity.latitude}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="store_zoneCode" class="col-sm-2 control-label">区域编码</label>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control" id="store_zoneCode" name="zoneCode"
                                               th:value="${entity.zoneCode}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label class="control-label"><h4 class="tile-title">套餐列表</h4></label>
                                    <div class="col-md-12">
                                        <div class="animated-checkbox">
                                            <label th:each="p : ${packages}" style="margin-right: 10px;">
                                                <input type="checkbox" name="packageIds"
                                                       th:checked="${entity.packageList.contains(p)}"
                                                       th:value="${p.id}"><span class="label-text"
                                                                                th:text="${p.name}"/>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn" type="button" onclick="history.back(-1);">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>