<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>店员详情</title>
</head>
<body>
<form th:action="@{/clerk/{action}(action=${action})}" method="post" class="form-horizontal">

    <input type="hidden" name="id" th:value="${clerk.id}"/>

    <div class="form-group">
        <label for="clerk_store" class="col-sm-2 control-label">门店</label>
        <div class="col-xs-4">
            <select class="form-control select2" id="clerk_store" name="store"
                    th:value="${clerk.store} == null? ${clerk.store.name}:''">
                <option>请选择品牌</option>
                <option th:each="store : ${storeList}"
                        th:value="${store.id}"
                        th:text="${store.name}"
                        th:selected="${clerk.store.id  eq store.id}">
                </option>
            </select>
        </div>

        <label for="clerk_name" class="col-sm-2 control-label">名称</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="clerk_name" name="name" th:value="${clerk.name}"/>
        </div>
    </div>

    <div class="form-group">
        <label for="clerk_gender" class="col-sm-2 control-label">性别</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="clerk_gender" name="gender" th:value="${clerk.gender}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="clerk_phone" class="col-sm-2 control-label">电话号码</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="clerk_phone" name="phone" th:value="${clerk.phone}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="clerk_status" class="col-sm-2 control-label">状态</label>
        <div class="col-xs-4">
            <select class="form-control" id="clerk_status" name="status">
                <option value="1" th:selected="${clerk.status=='1'}">启用</option>
                <option value="0" th:selected="${clerk.status=='0'}">停用</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" value="提交"/>  
            <input class="btn" type="button" value="返回" onclick="history.back()"/>
        </div>
    </div>
</form>

</body>
<script>

</script>
</html>