<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>机型列表</title>
</head>
<body>
<table class="table table-hover table-condensed">
    <legend>
        <strong>机型列表</strong>
    </legend>
    <thead>
    <tr>
        <th>机型编号</th>
        <th>名称</th>
        <th>品牌</th>
        <th>类型</th>
        <th>价格</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="model : ${modelList}">
        <th scope="row" th:text="${model.id}"></th>
        <td th:text="${model.name}"></td>
        <td th:text="${model.brand.name}"></td>
        <td th:text="${model.type}"></td>
        <td th:text="${model.price}"></td>
        <td th:text="${model.status} == '1'?启用:停用"></td>
        <td><a class="btn btn-danger" th:href="@{/model/update/{modelId}(modelId=${model.id})}">修改</a></td>
        <td><a class="btn btn-danger" th:href="@{/model/delete/{modelId}(modelId=${model.id})}">删除</a></td>
        <td><a class="btn btn-danger" th:href="@{/model/package/{modelId}(modelId=${model.id})}">套餐绑定</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>